{% extends "base.html" %}

{% block content %}
    {% if results %}
    <div><p>First name: {{ results.first_name }}</p></div>
    <div><p>Last name: {{ results.last_name }}</p></div>
    <div><p>Phone number: {{ results.phone }}</p></div>
    <div>  
        Image: 
        <img src="{{ url_for('display_image', filename=results.image_name) }}" style="width: 64px"/>
    </div>
    {% elif prize %}
    <div><h2>{{ prize }}</h2></div>
    {% else %}
    <h1>There is nothing to see here!</h1>
    {% endif %}
{% endblock %}